*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  #ffebcd;
}

.everything {
    height: 100vh;
}

.all-items {
    display: flex;
    color: #184e77;
}

.all-items h1 {
    font-family: 'Orbitron', sans-serif;
}

.all-items img {
    margin: 35px 35px 0px 35px;
    width: 22%;
}

.text {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #184e77;
    border-radius: 30px;
    padding: 30px;
    background-color: #faddb1;
    box-shadow: 0px 0px 10px #000;
    width: 50%;
    height: 60vh;
    font-family: 'Rajdhani', sans-serif;
}

.text button {
    margin: 30px 0px;
    padding: 20px 30px;
    color: #184e77;
    background-color: #EEB868;
    border: 2px solid #184e77;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #000;
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    width: 200px;
}

.text button:hover {
    background-color: #d69c45;
}

#quote {
    padding: 50px;
    background-color: #184e77;
    border-radius: 30px;
    color: #fff;
    box-shadow: 3px 3px 5px #000;
    font-size: larger;
}

svg {
    position: absolute;
    bottom: 0;
}

/* media queries */
@media screen and (max-height: 905px) {
    svg {
        opacity: 0.9;
        z-index: -1;
        position: static;
        bottom: 0;
    }
}

@media screen and (max-height: 615px) {
    .text {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .text button {
        width: 150px;
        font-size: small;
    }
    #quote {
        padding: 10px;
    }
}

@media screen and (max-width: 1400px) {
    .all-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .all-items img {
        height: auto;
    }
    .text {
        width: 80%;
        margin: 30px;
    }
}

@media screen and (max-height: 1220px) {
    .all-items img {
        height: auto;
    }
    /* svg {
        opacity: 0.9;
        z-index: -1;
        position: static;
        bottom: 0;
    } */
    #quote{
        font-size: xx-larger;
    }
}