@font-face {
    src: url('Gagalin-Regular.otf') ;
    font-family: Gagalin-Regular;
}

*{
    margin: 0;
    padding: 0;
    font-family: Gagalin-Regular;
}

body {
    background-color: #F45050;
    color: #1F1347;

}

.navbar{
    background-color: #1F1347;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: #FDE962;
}

.main-logo {
    margin-right: 8px;
}

.btn-signup {
    background-color: #FDE962;
    border-radius: 20px;
    color: #1F1347;
}

.btn-signup:hover{
    background-color: #c9b848;
}

.intro {
    background-image: url("image_files/super-mario-scene.jpg") ;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 372px;
}

.intro h1 {
    text-shadow: #fff 0px 0px 30px;
}

.intro h3 {
    color:#FDE962;
    text-shadow: #1F1347 0px 0px 5px;
}

#play-now-btn {
    padding: 10px 30px;
    background-color: #FDE962;
    border: #1F1347 solid 4px;
    border-radius: 35px;
    font-size: x-large;
    animation: playBtnAnimation 0.5s ease-in-out infinite alternate;
}

@keyframes playBtnAnimation {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

#play-now-btn:hover {
    background-color:#1F1347;
    border: #FDE962 solid 4px;
    color: #FDE962;
}

.about-imgs {
    width: auto;
    height: 50vh;
}

.about {
    display: flex;
    justify-content: center;
}

.big-para {
    margin: 40px;
    text-align: justify;
    background-color: #FDE962;
    padding: 70px;
    border-radius: 20px;
    font-size:larger;
    color: #1F1347;
}

@media screen and (max-width: 992px){
    .about {
        display: flex;
        flex-direction: column;
    }
    .about-flex-ele {
        display: block;
        margin: 0px auto;
    }
    .about-imgs {
        width: 200px;
        height: auto;
    }
    .big-para {
        padding: 5px;
        margin: 5px;
        background-color: #FDE962;
        text-align: justify;
    }
}

@media screen and (max-width: 1400px) {
    .about-imgs {
        width: auto;
        height: 30vh;
    }
}
