<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Orbitron font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <!-- Rajdhani font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="leaderboard.css">
    <title>Leaderboard</title>
</head>

<body>
    <div class="top">
        <h2>Personal Best</h2>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    
                    <th scope="col">LEVEL</th>
                    <th scope="col">SCORE</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    
                    <td>LEVEL 1</td>
                    <% if(s1){ %>
                    <td><%= s1 %></td>
                    <% }else{ %>
                        <td>Not attempted</td>
                        <% } %>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    
                    <td>LEVEL 2</td>
                    <% if(s2){ %>
                        <td><%= s2 %></td>
                        <% }else{ %>
                            <td>Not attempted</td>
                            <% } %>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    
                    <td>LEVEL 3</td>
                    <% if(s3){ %>
                        <td><%= s3 %></td>
                        <% }else{ %>
                            <td>Not attempted</td>
                            <% } %>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>