/* background peach color: #F45050
navy blue border: #1F1347 (also font)
button yellow color: #FDE962
main heading: #7843E6 */
@font-face {
    src: url('Gagalin-Regular.otf') ;
    font-family: Gagalin-Regular;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Gagalin-Regular;
    font-size: large;
    /* add padding and margin inside width */
    box-sizing: border-box;
}
#btn-signup, #btn-login{
    padding: 10px 15px;
    background-color: #FDE962;
    color: #1F1347;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#btn-signup:hover, #btn-login:hover{
    background-color: #ccba42;
}
.overlay, .overlay2 {
    width: 100%;
    position: fixed;
    top: 0%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    /* first keeping it behind the scene */
    z-index: -1;
    opacity: 0;
    transition: 1s;
}
.show-overlay {
    /* override the overlay properties with these attributes */
    opacity: 1;
    z-index: 1;
}
/* #4ad66d */
.form-content,  .form-content2{
    width: 400px;
    padding: 30px 20px;
    background-color: #4c956c;
    color: #1F1347;
    position: absolute;
    /* brings it almost to south east position */
    left: 50%;
    /* keeps it away rom user view */
    top: -50%;
    /* contradicts above 2 attributes and brings it to exact centre */
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px white;
    transition: 1.5s;
    z-index: 2;
    border-radius: 20px;
}
.show-form-content {
    /* override form content properties with these attributes */
    top: 50%;
}
.form-content input, .form-content2 input{
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}
.form-content label, .form-content2 label{
    /* avoids cramming at left side */
    padding-left: 10px;
}
.form-content button, .form-content2 button{
    padding: 10px 15px;
    color: #1F1347;
    border: none;
    font-weight: bolder;
    width: 100%;
    height: 45px;
    cursor: pointer;
    border-radius: 20px;
}
.form-content span, .form-content2 span{
    position: absolute;
    right: 0px;
    width: 30px;
    height: 30px;
    color: #1F1347;
    line-height: 30px;
    height: 30px;
    background-color: #FDE962;
    text-align: center;
    top: 0px;
    cursor: pointer;
    border-radius: 0px 20px 0px 0px;
}
.form-content span:hover, .form-content2 span:hover{
    background-color: #FF0000;
}
.form-content h1, .form-content2 h1{
    text-align: center;
    padding-bottom: 10px;
    color: #1F1347;
    font-size: 5rem;
}
.form-ele{
    padding: 10px 0px;
}
.reset-ele {
    background-color: #fad2e1;
}
.reset-ele:hover {
    background-color: #ce90a7;
}
.submit-ele {
    background-color: #FDE962;
}
.submit-ele:hover {
    background-color: #ccba42;
}
