* {
  margin: 0;
  padding: 0;
  color: white;

}

body {
  /* background: url('image_files/playground.png') no-repeat center center fixed; */
  /* background-size: cover; */
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}


.mycontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
}

.mycontainer2 {
  height: auto;
  width: 80vw;
  background-color: #F097EC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 4px solid rgb(32, 17, 57);
}

.circles {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sc {
  margin: auto;
  height: 35px;
  width: 35px;
  background-color: #C55AE9;
  border-radius: 50%;
  box-shadow: 5px 0px rgb(32, 17, 57);
  border: 3px solid rgb(32, 17, 57);
}

.bc {
  margin: auto;
  height: 70px;
  width: 70px;
  background-color: #C55AE9;
  border-radius: 50%;
  box-shadow: 5px 0px rgb(32, 17, 57);
  border: 3px solid rgb(32, 17, 57);
}

.myrow {
  height: 70vh;
  width: 55vw;
  background-color: #201139;
  border-radius: 40px;
  border: 3px solid rgb(32, 17, 57);
}

.digit {
  animation: fadeOut 1s ease-in-out forwards;
  font-size: 50px;
}

/* .numbers,
.options {
  height: 30vh;
} */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dispNone {
  display: none;
}

.submitBtn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: black;
  font-size: 20px;
  background: #ffebcd;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  animation: btnAnimation 1s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Orbitron', sans-serif;
}
.submitBtn:hover, .resetBtn:hover{
  transform: scale(1.1);
}

.resetBtn{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #184e77;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-family: 'Orbitron', sans-serif;
}

/* .submitBtn:hover {
  text-decoration: none;
} */

@keyframes btnAnimation {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width:1080px) {

  .mycontainer2 {
    width: 100vw;
    /* height: 50vh; */
  }

  .circles {
    height: 50vh;
  }

  .myrow {
    height: auto;
  }
}


@media only screen and (max-width:710px) {
  .circles {
    display: none;
  }
  .myrow{
    height: auto;
    width: 100%;
  }
  .mycontainer{
   
    height: auto;
    width: 100%;
  }
  .mycontainer2{
    border: 40px solid #C55AE9;
    height: auto;
    width: 100%;
  }
}


.reveal1 {
  position: relative;
  transform: translateX(-50%);
  opacity: 0;
  transition: 1s all ease;
}

.reveal1.active1 {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.reveal2 {
  position: relative;
  transform: translateX(50%);
  opacity: 0;
  transition: 1s all ease;
}

.reveal2.active2 {
  display: block;
  transform: translateX(0);
  opacity: 1;
}