* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-image: url(../image_files/super-mario-scene-2.jpg);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Styles for playground.html */
.playground{
    width: 100vw;
    height: 100vh;
}   

.font-black{
    color:black;
}
.head {
    font-family: 'Orbitron', sans-serif;
    margin: 25px auto;
    color: #184e77;
    text-shadow: 0px 0px 15px #ffffff;
    font-size: xx-large;
    text-align: center;
}

.game-info {
    background-color: #ffebcd;
    padding: 50px 50px;
    width: 70%;
    margin: auto;
    border-radius: 30px 30px 0px 0px ;
    border: 5px solid #184e77;
    height: 40vh;


}

.game-area {
    background-color: #184e77;
    padding: 50px 50px;
    width: 70%;
    margin: auto;
    border-radius: 0px 0px 30px 30px;
    height: 40vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* media queries */
@media screen and (max-width: 400px){
    body {
        background-image: url(image_files/super-mario-scene-3.jpg);
        background-repeat: repeat-x;
    }
}

/* Styles for score.html */
.top {
    font-family: 'Orbitron', sans-serif;
    margin: 25px auto;
    color: #184e77;
    text-shadow: 0px 0px 15px #ffffff;
    font-size: x-large;
    text-align: center;
}

.score-text {
    display: flex;
    justify-content: center;
}

.score-text img {
    background-color: transparent;
    width: 10%;
    height: 10%;
}

.score-text-box {
    padding: 50px;
    background-color: #184e77;
    border-radius: 30px;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    font-size: large;
}






/**/
.go-to-main-page-btn{
    cursor: pointer;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    background: #ffebcd;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    animation: btnAnimation 1s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: 'Orbitron', sans-serif;
  }
  .go-to-main-page-btn:hover{
    transform: scale(1.1);
  }


  .reveal1 {
    position: relative;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal1.active1 {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
  
  .reveal2 {
    position: relative;
    transform: translateX(50%);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal2.active2 {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }

  .avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 4px solid #184e77;
  }


  @media screen and (max-width: 500px){
    .game-info{
        padding: 20px 20px;
    }
    .game-area{
        padding: 20px 20px;
    }
    .avatar{
        height: 50px;
    width: 50px;
    }
}
  @media screen and (max-width: 400px){
    .game-info{
        width: 98%;
    }
    .game-area{
        width: 98%;
    }
    
}